/* Reset styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

/* General styles */
.bg-black {
    background-color: rgb(42, 42, 42);
}

.d-inline-block{
    display: inline-block;
}

.float-right {
    float: right;
}

.container{
    width: 80%;
    margin: auto;
}
.text-white{
    color: white;
}

.text-light-gray{
    color :#e0dada;
}
.clear{
    clear: both;
}
.float-left {
    float: left;
}
.text-orange{
    color: rgb(255, 169, 10);
}
.font-light{
    font-weight: 200;
}
.w-50{  
    width: 50%;
}
.m-5{
    margin: 8% 0%;
}
hr{
    width: 10%;
    background-color: white;
    margin: 4% 0%;
}
.w-40{
    width: 40%;
}
.m-auto{
    margin: auto;
}
.bg-grey{
    background-color: #f0f0f0;
    padding: 3% 0%;
}
.text-black{
    color: black;
}
.text-center{
    text-align: center;
}
.font-arial{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.p-top-1{
    padding: 1% 0%;
}
.w-30{
    width: 30%;
}
.w-65{
    width: 65%;
}
/* custom styles */

nav{
    padding: .8% 0%;
}
nav ul{
    padding-top: 1%;
    width: 40%;
}
nav ul li{
    margin-left: 8%;
}
.font-size{
    font-size: 2.3rem;
    font-weight: bolder;
}

.bg-img{
    background-image: url(images/buildingpic.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
}
.font-size-big{
    font-size: 4rem;
    font-weight: bolder;
}
.font-size-small{
    font-size: 2rem;
    font-weight: 300;
}
.text-large{
    font-size: .9rem;
    width: 70%;
    font-weight: 100;
}
.btn-transparent{
    margin-top: 5% ;
    padding: 1% 4%;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
}
.form-control input{
    border: none;
    padding-left: 15%;
    padding-top: 5%;
    margin-top: 5%;
}
.form-section{
    margin-top: 10%;
    background-color: white;
    width: 25%;
    height: 40vh; 
    border-color: white;
    border: 1px solid white;
    overflow: hidden;
}
.hr-form{
    width: 80%;
    margin: 2% auto;
    border: none;
    border-bottom: 1px solid #ccc;
}
.form-control ::placeholder{
    color: #ccc;
    font-size: small;
}
.bg-orange{
    background-color: #ff9b51;
    padding: 5% 0% 6% 35%;
    margin-top: 13%;
}
.text-small{
    font-size: small;
}
.bg-white{
    background-color: white;
}
.text-grey{
    color: #666;
}
.social-icons i{
    font-size: 2.9rem;
    color: #b6b3b3;
    margin-left: 8%;
}
.social-icons{
    margin-left: 1%;

}